<!-- Navbar -->
<nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand">BSALE</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" id="name" type="search" placeholder="Nombre" aria-label="Search">
        <input type="button" value="Buscar" class="btn btn-outline-dark my-2 my-sm-0" onclick="getData()">
    </form>
</nav>

<!-- Cards -->
<div class="container mt-5">
    <div class="row card-product">
    </div>
</div>
